[Unit]
Description = secure-dns daemon

[Service]
ExecStart=/usr/local/bin/secure-dns -listen_addr "127.0.0.1:53" -failover_domains "proxy.muc,bmwgroup.net" -failover_upstream 172.16.73.73:53
Type = simple
Restart = always

CapabilityBoundingSet = CAP_NET_BIND_SERVICE
ProtectSystem=full

[Install]
WantedBy = multi-user.target