[Unit]
Description = secure-dns daemon

[Service]
EnvironmentFile=/etc/secure-dns.conf
ExecStart=/usr/local/bin/secure-dns -listen_addr $LISTEN_ADDR -failover_domains $FAILOVER_DOMAINS -failover_upstream $FAILOVER_UPSTREAM
Type = simple
Restart = always
RestartSec=5s

CapabilityBoundingSet = CAP_NET_BIND_SERVICE
ProtectSystem=full

[Install]
WantedBy = multi-user.target